.movies-img{
    min-height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.movies-container {
    padding: 2rem;
    background: #201f20;
    border-radius: 1rem;
  }