$darkout: #000000;
$whiteout: #D6D6D6;
$blood: #FF0E39;
$greyout: #35353F;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkout;
  color: $whiteout;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text{
  &-whiteout{
    color: $whiteout;
  }

  &-greyout{
    color: $greyout;
  }
}